@model RadoHub.ViewModels.CookingRecipes.CookingRecipesViewModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@{
    ViewData["Title"] = Localizer["Cooking Recipes"];

    Cloudinary cloudinary = Model.Cloudinary;
}

<div class="lifestyle-cooking">
    <div class="index">
        <header>
            <h1 class="title text-center">@ViewData["Title"]</h1>
        </header>

        <section class="all-recipes container">
            @foreach (var recipe in Model.Recipes)
            {
                <div class="row">
                    <aside class="col-sm-5 text-center">
                        @if (recipe.CoverImageFileName != null)
                        {
                        <a asp-area="LifeStyle" asp-controller="Cooking" asp-action="RecipeDetails" asp-route-id="@recipe.Id">
                            <img src="@Html.Raw(cloudinary.Api.UrlImgUp.Secure(true).Format("jpg")
                             .Transform(new Transformation().Width(350).Quality(100))
                             .BuildUrl(recipe.CoverImageFileName))" class="cover-image">
                        </a>
                        }
                    </aside>

                    <section class="col-sm-7">
                        <article class="article">
                            <div class="article-header">
                                <a asp-area="LifeStyle" asp-controller="Cooking" asp-action="RecipeDetails" asp-route-id="@recipe.Id">
                                    <span class="article-title">@recipe.Title</span>
                                </a>
                            </div>
                            <div>
                                <p class="blog-index-info-icons"><i class="fas fa-pencil-alt"></i> @recipe.CreationDate.ToShortDateString() | <i class="fas fa-sync-alt"></i> @recipe.LastModifiedAt.ToShortDateString()</p>
                            </div>
                            <div class="text-body">
                                @if (recipe.ShortDescription.Length < 300)
                                {

                                    @Html.Raw(recipe.ShortDescription)
                                }
                                else
                                {
                                    @Html.Raw(recipe.ShortDescription.Substring(0, 300))
                                }
                            </div>
                            <a class="btn btn-dark" asp-area="LifeStyle" asp-controller="Cooking" asp-action="RecipeDetails" asp-route-id="@recipe.Id">READ MORE</a>
                        </article>

                    </section>
                </div>
            }
        </section>
    </div>
</div>


