@model RadoHub.ViewModels.CookingRecipes.CookingRecipeViewModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@{
    ViewData["Title"] = $"Cooking Recipes - {Model.Title}";

    Cloudinary cloudinary = Model.Cloudinary;
}


<div class="lifestyle-cooking">
    <div class="recipe-details">
        <header>
            <h1 class="title text-center">Cooking Recipe Details</h1>
        </header>

        <article class="article container">
            <div class="title text-center">
                <h2>@Model.Title</h2>
            </div>
            <div class="date-info text-center"><i class="fas fa-pencil-alt"></i> @Model.CreationDate.ToShortDateString() | <i class="fas fa-sync-alt"></i> @Model.LastModifiedAt.ToShortDateString()</div>
            @if (Model.CoverImageFileName != null)
            {
                <div class="cover-image text-center">
                    <img data-toggle="modal" data-target="#cover-image" src="@Html.Raw(cloudinary.Api.UrlImgUp.Format("jpg")
                             .Transform(new Transformation().Width(350).Quality(100))
                             .BuildUrl(Model.CoverImageFileName))" />

                        <div class="modal fade" id="cover-image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    </div>
                                    <div class="modal-body">
                                        <img src="@Html.Raw(cloudinary.Api.UrlImgUp.Format("jpg")
                             .Transform(new Transformation().Width(700).Quality(100))
                             .BuildUrl(Model.CoverImageFileName))"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            }
            @if (Model.ShortDescription != null)
            {
                <div class="short-description text-center">
                    @Html.Raw(Model.ShortDescription)
                </div>
            }
            @if (Model.ExecutingTime != null && Model.ExecutingTime > TimeSpan.Zero)
            {
                <div class="executing-time">
                    <strong>Време за приготвяне: </strong>@Model.ExecutingTime.Hours:@Model.ExecutingTime.Minutes h
                </div>
            }
            <div class="products">
                <strong>Продукти:</strong>
                @if (Model.Products != null)
                {
                    @foreach (var product in Model.Products)
                    {
                        <div>@product</div>
                    }
                }

            </div>
            <div class="content">
                <h5>Рецепта:</h5>
                @Html.Raw(Model.Content)
            </div>
            @if (Model.Hashtags != null && Model.Hashtags.Count > 0)
            {
                <div class="hashtags">
                    <div>
                        <strong>Hashtags:</strong>
                    </div>
                    @String.Join(", ", Model.Hashtags)
                </div>
            }
        </article>
    </div>
</div>


