@model RadoHub.ViewModels.CookingRecipes.AdminGetAllRecipesViewModel
@{
    ViewData["Title"] = "Manage Cooking Recipes";
}
<div class="admin-cooking-recipe">
    <div class="index">
        <header>
            <div class="title">
                <h1 class="text-center">@ViewData["Title"]</h1>
            </div>

            @if (ViewData["statusMessage"] != null)
            {
                <div class="status-message text-center alert alert-warning" role="alert">
                    <h3>@ViewData["statusMessage"].ToString()</h3>
                </div>
            }
        </header>

        <section class="main-buttons container">
            <div>
                <div class="main-btn">
                    <a class="btn btn-success" asp-controller="CookingRecipe" asp-action="CreateCookingRecipe">Create new Recipe</a>
                </div>
            </div>
        </section>

        <section class="all-cooking-recipes-table">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Recipe in Model.AllCookingRecipes)
                    {
                        <tr>
                            <th scope="row">@Recipe.Id</th>
                            <td><a asp-area="LifeStyle" asp-controller="Cooking" asp-action="RecipeDetails" asp-route-id="@Recipe.Id">@Recipe.Title</a></td>
                            <td>
                                <a class="btn btn-primary" href="#">Edit</a>

                                <!-- Modal delete button -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Delete
                                </button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete Recipe</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this cooking recipe permanently?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <form method="post">
                                                    <button type="submit" class="btn btn-primary" asp-controller="CookingRecipe" asp-action="DeleteCookingRecipe" asp-route-id="@Recipe.Id">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>

